.container {
	width: 15rem;
	margin: 0 auto;
	font-family: Glamour;
	font-size: 0.7em;
	border: 2px dashed black;
	border-radius: 5px;
	padding: 15px;
}
.image-prew {
	max-width: 400px;
	width: 50%;
	padding: 15px;
	margin: 0 auto;
}
