.App {
  text-align: center;
}

.App-logo {
  animation: App-book-scale infinite 2s linear;
  height: 40px;
}

.App-header {
	max-width: 400px;
	margin: 20px auto;
  background-color: #fff;
  height: 100px;
  color: #000;
	position: relative;
}

h2 {
  font-size: 1.7rem;
  font-family: Glamour, sans-serif;
}

/*CategoryListItem*/
.Admin-item-list:hover {
  background: ghostwhite;
}
.Delete-btn:hover {
  opacity: 0.5;
}

@keyframes App-book-scale {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

@font-face {
  font-family: Glamour;
  src: url(../fonts/CraftyGirls.ttf);
  /*font-family: Jenifer;*/
  /*src: url(../fonts/jenniferbold.ttf);*/
}
